$primary-color: #d32f2f;
$secondary-color: #444;
$spacing: 50px;


.confirm-container{
width: 90%;
align-self: center;

    .dialog-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $spacing;
    font-size: 22px;
    font-weight: bold;
    color: $secondary-color;

        mat-icon {
            font-size: 28px;
        }
    }

    .dialog-content {
        p {
            font-size: 16px;
            color: $secondary-color;
            margin-top: $spacing;
        }
    }

    .dialog-actions {
    display: flex;
    justify-content: space-between;
    padding-top: $spacing;

        button {
            display: flex;
            align-items: center;
            gap: calc($spacing / 2);

            mat-icon {
            margin-right: 6px;
            }
        }
    }
}